[submodule "bundle/supertab.vim"]
	path = bundle/supertab.vim
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/jedi-vim.vim"]
	path = bundle/jedi-vim.vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/nerdtree.vim"]
	path = bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vimtex.vim"]
	path = bundle/vimtex.vim
	url = https://github.com/lervag/vimtex.git
